<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Security Panel</h1>
<button onclick="myFunction()">Start/Stop</button>
<br>
    <form action="/open" method="POST">
	<input type="submit" value="OPEN">
    </form>
<div id="myDiv">
    <img id="bg" src="{{ url_for('video_feed') }}">
</div>    


<script>
	function myFunction(){
		var x = document.getElementById("myDiv");
		if (x.style.display === "none"){
			x.style.display = "block";
		}else{
			x.style.display = "none";
		}
	}
</script>
  </body>
</html>